
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #5e9446;
}
body {
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Varela Round', sans-serif;
}


.container, #main {
    /* background-color: #fff; */
    margin-top: 1rem;
    padding-top: 1rem;
}

.bg-green {
    background-color: #558740 !important;
}

nav .nav.navbar-nav {
    margin:0 auto;
    font-size:1.4em;
}

li.logo {
     margin: 0 20px;
}

.sidebar {
    color:#5e9446;
}

.hour-panel {

}


.kibble-panel {
    text-align: left;
    padding:1.5em;
    background-color: #333;
    border-color: #333;
    color:#fff;
    background-image: url("/assets/images/calc.png") no-repeat;
    background-position: right -20px center;
}
.kibble-panel .card-block {
    padding-left:2em;
}
/* Jumbotron bkgs*/
.home-page {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/images/blogbkg.jpg");
    background-size: cover;
}
.about-page {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/images/muttnose.jpg");
    background-size: cover;
}
.contact-page {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/images/ahdamariscotta.jpg");
    background-size: cover;
}