<div class="jumbotron text-center team-page">
       <h1>{{ message }}</h1>
</div>
    
<div class="main-body bg-light">
    <div class="row">
        <div class="col-md-6">
            <h3 class="westbrook m-top-2">Westbrook</h3>
            <div class="card m-top-1" ng-repeat="(key, attr) in employees" ng-if="attr.store === 'Westbrook'">
                <img ng-if="attr.image === ''" class="card-img-top" ng-src="/assets/images/noprofile.gif" alt="Card image cap">
                <img ng-if="attr.image !== ''" class="card-img-top" ng-src="/assets/images/employees/{{attr.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5>{{attr.name}}</h5>
                    <p class="card-text">{{attr.blurb}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="damariscotta m-top-2">Damariscotta</h3>
            <div class="card m-top-1" ng-repeat="(key, attr) in employees" ng-if="attr.store === 'Damariscotta'">
                <img ng-if="attr.image === ''" class="card-img-top" ng-src="/assets/images/noprofile.gif" alt="Card image cap">
                <img ng-if="attr.image !== ''" class="card-img-top" ng-src="/assets/images/employees/{{attr.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5>{{attr.name}}</h5>
                    <p class="card-text">{{attr.blurb}}</p>
                </div>
            </div>

            
        </div>
    </div>
</div>